<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        
    </style>
    <title>#eleve</title>
</head>
<body>
    <form id="formEleve">
        Nom : <input type="text" name="formEleveNom"><br>
        Prénom : <input type="text" name="formElevePrenom"><br>
        Date de naissance : <input type="text" name="formEleveDOB"><br>
        Nationalité : <input type="text" name="formEleveNationalite"><br>
    </form>

    <div id="parent1">
        <form id="formParent1">
            Nom : <input type="text" name="formParent1Nom"><br>
            Prénom : <input type="text" name="formParent1Prenom"><br>
            Adresse : <input type="text" name="formParent1Adresse"><br>
            Téléphonne : <input type="text" name="formParent1Telephone"><br>
            GSM : <input type="text" name="formParent1GSM"><br>
            Email : <input type="text" name="formParent1Email"><br>
            <button onclick="saveParent()">Enregistrer</button>
        </form>
    </div>

    <div id="parent2">
        <form id="formParent2">
            Nom : <input type="text" name="formParent2Nom"><br>
            Prénom : <input type="text" name="formParent2Prenom"><br>
            Adresse : <input type="text" name="formParent2Adresse"><br>
            Téléphonne : <input type="text" name="formParent2Telephone"><br>
            GSM : <input type="text" name="formParent2GSM"><br>
            Email : <input type="text" name="formParent2Email"><br>
            <button onclick="saveParent()">Enregistrer</button>
        </form>
    </div>



</body>
</html>