script.
    function login() {
        window.location.replace('http://localhost:3000/login')
    }
block content
    h1 Bienvenue sur le site de l'école
    p Pour vous logger, cliquez sur le bouton login
    button(onclick='login()') Login
