doctype html
html
  head
    meta(charset='utf-8')
    title Login
    style.
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ww1.prweb.com/prfiles/2012/01/04/9079681/trade-schools-logo.png')
  body
    .header
      .inner_header
        .logo_container
          h1 Ecole de
            span  Ath
            ul.navigation
    .login-form
      h1 Plateforme de Connexion
      form(action='users', method='get')
        input(type='text', name='username',id='username', placeholder='Utilisateur', required='')
        input(type='password', name='password', id ='password', placeholder='Mot de passe', required='')
        input(type='submit')

