doctype html
html
  head
    meta(charset='utf-8')
    title Login
    style.
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header
      img(src='/logo/logo.png')
      a(href='localhost:3000/login')  Déconnexion
      .inner_header
        .logo_container
          h1 Ecole de
            span  Ath

            ul.navigation
    .login-form
      h1 Plateforme de Connexion
      form(action='users', method='get')
        input(type='text', name='username',id='username', placeholder='Utilisateur', required='')
        input(type='password', name='password', id ='password', placeholder='Mot de passe', required='')
        input(type='submit')

