doctype html
head
    meta(charset='UTF-8')
    title Secretariat
    style.
        table, th, td {
            border:solid black 2px;
            padding: 2px;
            border-collapse: collapse;
        }
        th {
            background-color: #00B7FF;
        }
button#test(onclick='init()') Test
table
    tr
        th Nom
        th Pr&eacute;nom
        th Date de naissance
        th Classe
    tbody#tableEleve
