doctype html
head
    meta(charset='UTF-8')
    title Secretariat
    style.
        table, th, td {
            border:solid black 2px;
            padding: 2px;
            border-collapse: collapse;
        }
        th {
            background-color: #00B7FF;
        }
        tr:hover {
            background: azure;
        }
script.
    function aff(e, p1, p2){

        window.location.replace('http://localhost:3000/eleve?id='+e+'&p1='+p1+'&p2='+p2);
    }//Changer la redirection

table#tableEleve
    tr
        th Nom
        th Prénom
        th Date de naissance
        th Classe
    tbody
        each eleve in eleveListe
            tr(onclick="aff("+eleve.id+", " + eleve.p1 + ", " + eleve.p2 + ");")
                td= eleve.nom
                td= eleve.prenom
                td= eleve.naissance
                td= eleve.classe
button(onclick="aff(0,0,0)") Nouvel élève