<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secretariat</title>
    <style>
        table, th, td {
            border:solid black 2px;
            padding: 2px;
            border-collapse: collapse;
        }
        th {
            background-color: #00B7FF;
        }
    </style>
    <script src="../routes/secretariat.js"></script>
</head>
<body>
    <button onclick="init()">Test</button>
    <table>
        <tr><th>Nom</th><th>Prénom</th><th>Date de naissance</th><th>Classe</th></tr>
        <tbody id="tableEleve">

        </tbody>
    </table>


</body>
</html>